
/* ------------------------------ Search container --------------------------------------------- */
.searchBar{float: left; margin-top: 150px; width: 100%;display: block;  font-family: Raleway;}
.body-container-model{display: flex; margin: 0 60px;}
.search-container-main-model{margin-top: 10px; width: 75%; border: 1px solid transparent; margin-right: 20px;}
.container1{text-align: center; border: 1px solid transparent;}
.container1 .container1-descTop{font-size: 28px; font-weight: 100; font-family: Raleway; margin-bottom: 20px;}
.container1 .container1-descTop span{font-style: italic; font-size: 38px;}
.container-menu{display: inline-flex; list-style: none;}
.container-menu li{margin: 20px 0;}
.container-menu li a{margin: 10px; text-decoration: none; font-size: 15px; letter-spacing: 1px; color: #000; font-weight: 600;}
.preview-outline{display: inline-flex; object-fit: cover;}
.image-preview-container{margin-right: 20px; height: 180px; display: inline-flex; margin-top: 50px;width: 100px; border: 1px solid black;}
.body1-cotainer-serchbar{
    display: flex; border: 1.5px solid rgba(0, 0, 0, 0.4); margin: 0 30px; font-size: 18px; padding: 5px; border-radius: 50px;
    color: rgba(0, 0, 0, 0.6); padding-left: 15px;
}
.container1{margin-bottom: 5px;}
.searchbar-container-location-finder{margin: 0; width: 38%;}
.searchbar-container-type-finder, .searchbar-container-budget-finder, .searchbar-container-button{width: 22%; border: 1px solid transparent;}
.searchbar-container-type-finder{border: 1.5px solid rgba(0, 0, 0, 0.3); border-top: none; border-bottom: none;}
.searchbar-container-location-finder input.outlined-address{font-size: 18px; outline: none; border: none;}
.searchbar-container-location-finder .search-marker, .searchbar-container-type-finder .type-icon,
 .searchbar-container-budget-finder .budget-icon{font-size: 16px; color: rgb(226, 86, 31); margin-right: 10px;}
.searchbar-container-location-finder .search-marker{padding-top: 5px; float: left;}
.searchbar-container-type-finder .type-icon, .searchbar-container-budget-finder .budget-icon{padding: 0 10px;}
.searchbar-container-type-finder, .searchbar-container-budget-finder{cursor: pointer; list-style: none;}
.searchbar-container-type-finder li, .searchbar-container-budget-finder li{float: right; padding-right: 10px; padding-top: 7px; color: rgba(0, 0, 0, 0.4); font-size: 13px;}
.searchbar-container-button .search-icon{color: #fff; float: left; padding-top: 5px;}
.searchbar-container-button{background: rgb(226, 86, 31); border-radius: 25px; color: #fff; font-weight: 400; width: 20%; justify-content: center; display: flex; gap: 10px;cursor: pointer;}
.searchbar-container{padding: 10px 0;}
.searchbar-container-location-finder input.outlined-address{color: rgba(0, 0, 0, 0.6); width: 85%;}
.general-properties-header, .body-properties-label{margin: 100px 50px;}
.properties-header-title, .properties-label-title{margin: 30px 10px; font-size: 25px; color: rgba(0, 0, 0, 0.8);}
.properties-header-title .outline, .properties-label-title .outline{border: 2px solid rgb(226, 86, 31); width: 3%; border-radius: 20px; margin-top: 2px;}
.properties-label-title .outline{border-color: #ffd000;}
.properties-container-type{display: inline-flex; width: 25%;}
.properties-container-type a img{display: inline-flex; width: 95%; margin-left: 10px; height: 90%; border-radius: 10px;}

